@font-face {
    font-family: 'droid';
    src: url('../webfonts/droid.otf') format('OpenType');

  }
  @font-face {
    font-family: 'Garelina-Medium';
    src: url('../webfonts/garelina-medium.ttf') format('TrueType');

  }
  body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 97vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fffffd;
  }
  .fab, .fa{
    color: #182E1A;
  }

  footer {
    margin-top: auto;
    font-size: 12px;
    color: rgb(161, 161, 161);
    font-family: 'Garelina-Medium';
    transform: scale(1,0.75)
  }
  h1 {
    color: #182E1A;
    font-size: 66px;
    font-family: 'droid';
    transform: scale(1.22,1.88)
   
  }
  
  p { 
    color: #192E1A;
    font-size: 15px;
    font-family: 'Garelina-Medium';
    line-height: 16px;
    transform: scale(1,0.75)
  }
  img{
    width: 25vw;
  }
  a {
    text-decoration: none;

    cursor: pointer
}

